@import 'tailwindcss';
@import './theme.css';
@import './components/card.css';

@config '../../tailwind.config.js';

@layer base {
  * {
    scrollbar-width: auto;
    scrollbar-color: #141416 var(--color-background);
  }

  html,
  body {
    @apply text-foreground bg-background overflow-x-hidden antialiased;
    font-family: var(--font-inter), var(--font-thai), 'sans-serif';
    text-rendering: 'optimizeLegibility';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAATElEQVQYlZWPMQ7AMAwCz53w/z/Llk5Ro9SOWiYECEQAQxIAtulwzRDAyl/B1tmD69xpOoDxqbEzJJGZ58b9lO0fZypxnoqIh1fTFW5x5hYTMRqsQAAAAABJRU5ErkJggg==)
      repeat center center;
    background-size: 0.1rem 0.1rem;
  }
}
